body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("bg web uts 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   color: white;
}
